[36m2016-03-15 00:25:23,730 - boostNode.extension.system[0m - [0m[35mCRITICAL[0m - Line 1705: TemplateError: Error with "/home/torben/cloud/data/repository/documentationWebsite/source/index.jade.tpl" in line 61 (line in compiled template: 66).
NameError: name "META_TAGS" is not defined
Type "/home/torben/cloud/data/script/python/maintained/boostNode/runnable/template.py --help" for additional informations.
